# OS specific
ehthumbs.db
Thumbs.db
.DS_Store
Desktop.ini
*.lnk

#Eclipse
.metadata/
.idea/
.recommenders/
doc/


# Compiled / Installer
bin/
build/
*.com
*.class
*.exe
*.o
*.so
*.cab
*.msi
*.msm
*.msp

# Archives 
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Composer
vendor/
composer.lock
composer.phar

# Gulp
node_modules/
.sass-cache/
gulp-cache/

# Bower
bower_components/

# Temporary / Backup
tmp/
*.tmp
*.bak
*.swp
$RECYCLE.BIN/

