/**
 * Author: Severin Kaderli
 * Copyright: Severin Kaderli
 */

/**
 * General styles
 */
* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

/**
 * Forms
 */
.form-group {
	margin-bottom: 10px;
    max-width: 100%;
}

.form-group label {
	width: 200px;
    max-width: 100%;
	display: block;
	float: left;
    padding: 5px;
}

.form-group label.inline {
	display: inline-block;
	width: auto;
	float: none;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #aaa;
}


.form-group input[type="submit"],
.form-group input[type="reset"] {
    padding: 5px 10px;
    font-size: 0.9em;
    border: 1px solid #aaa;
    background-color: #eee;
    cursor: pointer;
}

.form-group input[type="submit"]:hover,
.form-group input[type="reset"]:hover {
    background-color: #bbb;
}

@media screen and (max-width: 450px) {
    .form-group label {
        width: 100%;
    }
}

/**
 * Alerts
 */
.alert {
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
	padding: 15px;
	margin: 5px 0;
	width: 100%;
	font-size: 0.9em;
	display:block;
}

/*Don't display messages if they're empty*/
.alert:empty {
	display: none;
}

.alert--success {
	color: #3c763d;
	background: #dff0d8;
	border-color: #3c763d;
}

.alert--error {
	color: #a94442;
	background: #f2dede;
	border-color: #a94442;
}

