body {
    font-family: Verdana, sans-serif;
}

.form-group {
	margin-bottom: 10px;
}

.form-group label {
	width: 200px;
	display: block;
	float: left;
}

.form-group label.inline {
	display: inline-block;
	width: auto;
	float: none;
}

/*Alert boxes for success and error messages*/
.alert {
	box-sizing: border-box;
	border: 1px solid black;
	border-radius: 5px;
	padding: 15px;
	margin: 5px 0;
	width: 100%;
	font-size: 0.9em;
	display:block;
}

.alert:empty {
	display: none;
}

.alert--success {
	color: #3c763d;
	background: #dff0d8;
	border-color: #3c763d;
}

.alert--error {
	color: #a94442;
	background: #f2dede;
	border-color: #a94442;
}

