/*****************************************/
/*Importiere "Open Sans" von Google Fonts*/
/*****************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/***********/
/*Allgemein*/
/***********/
* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	width: 100%;
	background-color: #373535;
	color: white;
	font-family: "Open Sans", Arial, sans-serif;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}

/********/
/*Header*/
/********/
header {
	background-image: url(../assets/logos/dragonforce_logo.png);
	background-repeat: no-repeat;
	min-height: 250px;
	width: 750px;
	float: left;
}

#sociallinks {
	float: right;
	width: 150px;
	padding: 10px;
}

#sociallinks a {
	display: block;
	margin: 15px 0;
}

/*Für letztes Element der Sociallinks*/
#sociallinks a:last-child {
	margin: 0;
}

/************/
/*Navigation*/
/************/
#navwrapper {
	float: right;
	margin-top: 15px;
	background-color: #af6542;
	border-top-left-radius: 30px;
}

.menu li {
	list-style-type: none;
	float: left;
	padding: 0 30px;
	line-height: 45px;
}

.menu li a {
	border-radius: 30px;
	padding: 5px 10px;
}

.menu li a:link {
	text-decoration: none;
	color: white;
}

.menu li a:visited {
	text-decoration: none;
	color: white;
}

.menu li a:hover {
	color: black;
	background-color: #fcdbad;
}

/*********/
/*Content*/
/*********/
#contentwrapper {
	clear: both;
	border: 1px solid #af6542;
	padding: 15px;
	margin-bottom: 20px;
}

#content h2, #fullContent h2 {
	font-size: 30px;
	margin-top: 20px;
}

#content ul, #fullContent ul {
	list-style-type: none;
}

#contentwrapper a {
	text-decoration: none;
	color: #af6542;;
}

#contentwrapper a:visited {
	text-decoration: none;
	color: #af6542;;
}

#contentwrapper a:hover {
	text-decoration: underline;
	color: #af6542;;
}

#content {
	float: left;
	width: 550px;
}

#content h1 #fullContent h2 {
	margin-bottom: 25px;
	font-size: 30px;
}

#content p, #fullContent p {
	margin-bottom: 10px;
}

#fullContent {
	width: 100%;
}

/*********/
/*Sidebar*/
/*********/
#sidebar {
	float: right;
	width: 350px;
}

#sidebar h1 {
	margin-bottom: 25px;
	font-size: 30px;
}

#information {
	margin-bottom: 25px;
}

.imageHover {
	cursor: pointer;
	float: left;
	margin: 5px;
	border: 1px solid #af6542;
}

#bigImage {
	border: 1px solid #af6542;
	width: auto;
	display: inline-block;
	padding: 0;
	margin: 5px 0;
}

table.albumDetail {
	font-size: 0.8em;
	width: 100%;
	margin-bottom: 10px;
}

table.albumSongs {
	font-size: 0.8em;
	width: 100%;
}

table.albumSongs th {
	font-weight: bold;
}

/**************/
/*Member Boxes*/
/**************/
.memberBox {
	width: 450px;
	float: left;
	margin: 5px;
}

img.wrapRight {
	float: right;
	margin: 5px;
}

img.wrapLeft {
	float: left;
	margin: 5px;
}

/********/
/*Footer*/
/********/
footer {
	text-align: center;
	margin-bottom: 20px;
}

/**********/
/*Clearfix*/
/**********/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
